<a href="https://colab.research.google.com/github/bignamu/python-AI/blob/main/Numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Numpy의 소개



NumPy(Numerical Python)는 파이썬에서 과학적 계산을 위한 핵심 라이브러리이다. NumPy는 다차원 배열 객체와 배열과 함께 작동하는 도구들을 제공한다. 하지만 NumPy 자체로는 고수준의 데이터 분석 기능을 제공하지 않기 때문에 NumPy 배열과 배열 기반 컴퓨팅의 이해를 통해 pandas와 같은 도구를 좀 더 효율적으로 사용하는 것이 필요하다.

## ndarray 생성

In [ ]:
import numpy as np

arr = np.array([1,2,3,4])
print(arr)

[1 2 3 4]

In [ ]:
np.zeros((3,3))

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [ ]:
np.ones((2,2))

array([[1., 1.],
       [1., 1.]])

In [ ]:
np.empty((4,4))

array([[0.00000000e+000, 1.03977794e-312, 1.01855798e-312,
        9.54898106e-313],
       [1.03977794e-312, 1.01855798e-312, 1.23075756e-312,
        1.03977794e-312],
       [1.12465777e-312, 9.76118064e-313, 1.20953760e-312,
        1.16709769e-312],
       [1.06099790e-312, 4.44659081e-322, 0.00000000e+000,
        0.00000000e+000]])

In [ ]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
np.arange(-5,5,1)

array([-5, -4, -3, -2, -1,  0,  1,  2,  3,  4])

## ndarray 배열의 모양 , 차수, 데이터 타입을 확인하는 방법

In [ ]:
arr = np.array([[1,2,3],[4,5,6]])

In [ ]:
print(arr)

[[1 2 3]
 [4 5 6]]

In [ ]:
arr.shape

(2, 3)

In [ ]:
arr.ndim

2

In [ ]:
arr.dtype

dtype('int64')

## ndarray 배열의 타입 변환
astype 함수를 사용해서 정수형 데이터 배열을 실수형 데이터 배열로 변환하기

In [ ]:
arr_int = np.array([1,2,3,4])

In [ ]:
arr_int.dtype

dtype('int64')

In [ ]:
arr_float = arr_int.astype(np.float64)

In [ ]:
arr_float.dtype

dtype('float64')

In [ ]:
print(arr_float)

[1. 2. 3. 4.]

### 문자형 데이터 배열을 정수형 데이터 배열로 변환하기

In [ ]:
arr_str = np.array(['1','2','3'])

In [ ]:
arr_str.dtype

dtype('<U1')

In [ ]:
arr_int = arr_str.astype(np.int64)

In [ ]:
arr_int.dtype

dtype('int64')

![Built-in Python types, ndarray data types](https://github.com/KoreaEva/AI/blob/master/HOL/04.Numpy,%20Pandas,%20Matplotlib/images/numpy-1.png?raw=true
)

![Data Types](https://github.com/KoreaEva/AI/blob/master/HOL/04.Numpy,%20Pandas,%20Matplotlib/images/numpy-2.png?raw=true)

## ndarray 배열의 연산
기본 연산자와 함수를 통해 배열 연산하기

In [ ]:
arr1 = np.array([[1,2],[3,4]])
arr2 = np.array([[5,6],[7,8]])

In [ ]:
arr1 + arr2

array([[ 6,  8],
       [10, 12]])

In [ ]:
np.add(arr1,arr2)

array([[ 6,  8],
       [10, 12]])

In [ ]:
arr1 * arr2

array([[ 5, 12],
       [21, 32]])

In [ ]:
np.multiply(arr1,arr2)

array([[ 5, 12],
       [21, 32]])

### numpty 배열의 연산은 연산자(+,-,*,/)나 함수(add,subtract,multiply,divide)로 가능하다

In [ ]:
arr1.dot(arr2)

array([[19, 22],
       [43, 50]])

In [ ]:
np.dot(arr1,arr2)

array([[19, 22],
       [43, 50]])

### 앞에서 살펴본 것과 같이 Numpy 배열에 기본 연산자 *를 통한 곱을 행렬의 곱이 아닌 배열의 요소의 곱이다. 따라서 행렬의 곱을 수행하기 위해서 dot 함수를 사용해야한다

## ndarray 배열 슬라이싱 하기

In [ ]:
arr = np.array([[1,2,3],[4,5,6],[7,8,9]])

In [ ]:
arr_1 = arr[:2,1:3]

In [ ]:
print(arr_1)

[[2 3]
 [5 6]]

In [ ]:
arr_1[0,0] = 5

In [ ]:
arr_1

array([[5, 3],
       [5, 6]])

In [ ]:
arr

array([[1, 5, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [ ]:
arr = np.array([[1,2,3],[4,5,6]])

In [ ]:
idx = arr > 3

In [ ]:
idx

array([[False, False, False],
       [ True,  True,  True]])

In [ ]:
arr[idx]

array([4, 5, 6])

###idx의 값들은 arr의 값이 3보다 큰 것인지(True) 같거나 작은 것인지(False) 나타낸다

### Wine Quality 데이터 설명



Wine Quality 데이터에는 포르투갈의 레드 와인과 화이트 와인 두 개의 데이터 예시이 있다. 각각의 데이터 셋 안에는 물리화학적 실험에 대한 12개의 변수들이 있다. 변수에 대한 설명은 다음과 같다.


![Wine Quality 데이터 변수 설명](https://github.com/KoreaEva/AI/blob/master/HOL/04.Numpy,%20Pandas,%20Matplotlib/images/numpy-3.png?raw=true)

In [ ]:
import numpy as np

redwine = np.loadtxt(fname='/content/drive/MyDrive/Colab Notebooks/AI/HOL/04.Numpy, Pandas, Matplotlib/samples/winequality-red.csv', delimiter=';', skiprows=1)

In [ ]:
redwine

array([[ 7.4  ,  0.7  ,  0.   , ...,  0.56 ,  9.4  ,  5.   ],
       [ 7.8  ,  0.88 ,  0.   , ...,  0.68 ,  9.8  ,  5.   ],
       [ 7.8  ,  0.76 ,  0.04 , ...,  0.65 ,  9.8  ,  5.   ],
       ...,
       [ 6.3  ,  0.51 ,  0.13 , ...,  0.75 , 11.   ,  6.   ],
       [ 5.9  ,  0.645,  0.12 , ...,  0.71 , 10.2  ,  5.   ],
       [ 6.   ,  0.31 ,  0.47 , ...,  0.66 , 11.   ,  6.   ]])

In [ ]:
redwine.shape

(1599, 12)

### Wine Quality 데이터를 활용한 기초 통계 분석



NumPy에는 기본적인 배열 통계 메서드가 있다. sum, mean과 같은 기본적인 통계 메서드를 통해 3.2에서 불러온 redwine 데이터의 기초적인 통계 분석을 해본다. 실습할 통계 메서드는 다음과 같다.

![배열 통계 메서드](https://github.com/KoreaEva/AI/blob/master/HOL/04.Numpy,%20Pandas,%20Matplotlib/images/numpy-4.png?raw=true)

In [ ]:
redwine.sum()

152084.78194

In [ ]:
redwine.mean()

7.926036165311652

In [ ]:
redwine.mean(axis=0)

array([ 8.31963727,  0.52782051,  0.27097561,  2.5388055 ,  0.08746654,
       15.87492183, 46.46779237,  0.99674668,  3.3111132 ,  0.65814884,
       10.42298311,  5.63602251])

In [ ]:
redwine[:,0].mean()

8.31963727329581

redwine.sum(): redwine 데이터 셋에 있는 모든 데이터의 합 <br>
redwine.mean(): redwine 데이터 셋에 있는 모든 데이터의 평균 <br>
redwine.mean(axis=0): redwine 데이터 셋의 열별(axis=0은 열을 뜻한다.) 평균, 이를 통해 각 변수별 평균을 알 수 있다. Fixed acidity의 평균은 8.31963722 이며, volatile acidity의 평균은 0.52782051 이다. <br>
redwine[:0.mean(): redwine 데이터 셋의 첫번째 열 (0번째 열)의 모든 값들의 평균을 뜻한다. 즉, fixed acidity의 평균만 알 수 있다.

In [ ]:
redwine.max(axis=0)

array([ 15.9    ,   1.58   ,   1.     ,  15.5    ,   0.611  ,  72.     ,
       289.     ,   1.00369,   4.01   ,   2.     ,  14.9    ,   8.     ])

In [ ]:
redwine.min(axis=0)

array([4.6    , 0.12   , 0.     , 0.9    , 0.012  , 1.     , 6.     ,
       0.99007, 2.74   , 0.33   , 8.4    , 3.     ])