<a href="https://colab.research.google.com/github/bignamu/python-AI/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pandas

## 자료구조 : Seires와 Dataframe



Pandas에서 제공하는 데이터 자료구조는 Series와 Dataframe 두가지가 존재하는데 Series는 시계열과 유사한 데이터로서 index와 value가 존재하고 Dataframe은 딕셔너리데이터를 매트릭스 형태로 만들어 준 것 같은 frame을 가지고 있다. 이런 데이터 구조를 통해 시계열, 비시계열 데이터를 통합하여 다룰 수 있다.

#Series

In [ ]:
from pandas import Series,DataFrame
import pandas as pd

In [ ]:
fruit = Series([2500,3800,1200,6000],
               index = ['apple','banana','pear','cherry'])

In [ ]:
fruit

apple     2500
banana    3800
pear      1200
cherry    6000
dtype: int64

In [ ]:
fruit.index

Index(['apple', 'banana', 'pear', 'cherry'], dtype='object')

In [ ]:
fruit.values

array([2500, 3800, 1200, 6000])

In [ ]:
fruit.index

Index(['apple', 'banana', 'pear', 'cherry'], dtype='object')

Series의 형태는 딕셔너리하고 매우 유사하나 key가 index로 바뀐 정도가 아니라 데이터 구조 자체가 매우 다르다

In [ ]:
fruitData = {'apple':2500,
             'banana':3800,
             'pear':1200,
             'cherry':6000}

In [ ]:
fruit = Series(fruitData)

In [ ]:
print(type(fruitData),type(fruit))

<class 'dict'> <class 'pandas.core.series.Series'>

In [ ]:
fruit.name='fruitPrice'

In [ ]:
fruit

apple     2500
banana    3800
pear      1200
cherry    6000
Name: fruitPrice, dtype: int64

In [ ]:
fruit.index.name = 'fruitName'

In [ ]:
fruit

fruitName
apple     2500
banana    3800
pear      1200
cherry    6000
Name: fruitPrice, dtype: int64

In [ ]:
fruitData = {'fruitName':['apple','banana','cherry','pear'],
             'fruitPrice':[2500,3800,6000,1200],
             'num':[10,5,3,8]}

In [ ]:
type(fruitData)

dict

In [ ]:
fruitFrame = DataFrame(fruitData)

In [ ]:
type(fruitFrame)

pandas.core.frame.DataFrame

In [ ]:
fruitFrame

  fruitName  fruitPrice  num
0     apple        2500   10
1    banana        3800    5
2    cherry        6000    3
3      pear        1200    8

In [ ]:
fruitFrame = DataFrame(fruitData,columns=['fruitPrice','num','fruitName'])

In [ ]:
fruitFrame

   fruitPrice  num fruitName
0        2500   10     apple
1        3800    5    banana
2        6000    3    cherry
3        1200    8      pear

In [ ]:
fruitFrame['fruitName']

0     apple
1    banana
2    cherry
3      pear
Name: fruitName, dtype: object

In [ ]:
fruitFrame.fruitName

0     apple
1    banana
2    cherry
3      pear
Name: fruitName, dtype: object

In [ ]:
type(fruitFrame.fruitName)

pandas.core.series.Series

In [ ]:
fruitFrame['Year'] = 2021

In [ ]:
fruitFrame

   fruitPrice  num fruitName  Year
0        2500   10     apple  2021
1        3800    5    banana  2021
2        6000    3    cherry  2021
3        1200    8      pear  2021

In [ ]:
var = Series([4,2,1], index = [0,2,3])

In [ ]:
fruitFrame['stock'] = var

In [ ]:
fruitFrame

   fruitPrice  num fruitName  Year  stock
0        2500   10     apple  2021    4.0
1        3800    5    banana  2021    NaN
2        6000    3    cherry  2021    2.0
3        1200    8      pear  2021    1.0

In [ ]:
fruit = Series([2500,3800,1200,6000],index=['apple','banana','pear','cherry'])

In [ ]:
fruit

apple     2500
banana    3800
pear      1200
cherry    6000
dtype: int64

In [ ]:
new_fruit = fruit.drop('banana')

In [ ]:
new_fruit

apple     2500
pear      1200
cherry    6000
dtype: int64

In [ ]:
fruitData

{'fruitName': ['apple', 'banana', 'cherry', 'pear'],
 'fruitPrice': [2500, 3800, 6000, 1200],
 'num': [10, 5, 3, 8]}

In [ ]:
fruitName = fruitData['fruitName']

In [ ]:
fruitFrame = DataFrame(fruitData,
                       index=fruitName,
                       columns = ['fruitPrice','num'])

In [ ]:
fruitFrame

        fruitPrice  num
apple         2500   10
banana        3800    5
cherry        6000    3
pear          1200    8

In [ ]:
fruitFrame2 = fruitFrame.drop(['apple','cherry'])

In [ ]:
fruitFrame2

        fruitPrice  num
banana        3800    5
pear          1200    8

In [ ]:
fruitFrame3 = fruitFrame.drop('num',axis=1)

In [ ]:
fruitFrame

        fruitPrice  num
apple         2500   10
banana        3800    5
cherry        6000    3
pear          1200    8

In [ ]:
fruitFrame3

        fruitPrice
apple         2500
banana        3800
cherry        6000
pear          1200

#Slice

In [ ]:
fruit

apple     2500
banana    3800
pear      1200
cherry    6000
dtype: int64

In [ ]:
fruit['apple':'pear']

apple     2500
banana    3800
pear      1200
dtype: int64

In [ ]:
fruitData

{'fruitName': ['apple', 'banana', 'cherry', 'pear'],
 'fruitPrice': [2500, 3800, 6000, 1200],
 'num': [10, 5, 3, 8]}

In [ ]:
fruitName = fruitData['fruitName']

In [ ]:
fruitFrame = DataFrame(fruitData,index=fruitName,columns=['fruitPrice','num'])

In [ ]:
fruitFrame['fruitPrice']

apple     2500
banana    3800
cherry    6000
pear      1200
Name: fruitPrice, dtype: int64

In [ ]:
fruitFrame['apple':'banana']

        fruitPrice  num
apple         2500   10
banana        3800    5

##데이터의 기본연산

In [ ]:
fruit1 = Series([5,9,10,3],index=['apple','banana','cherry','pear'])

In [ ]:
fruit2 = Series([3,2,9,5,10],index=['apple','orange','banana','cherry','mango'])

In [ ]:
print(fruit1,fruit2)

apple      5
banana     9
cherry    10
pear       3
dtype: int64 apple      3
orange     2
banana     9
cherry     5
mango     10
dtype: int64

In [ ]:
fruit1 + fruit2

apple      8.0
banana    18.0
cherry    15.0
mango      NaN
orange     NaN
pear       NaN
dtype: float64