<a href="https://colab.research.google.com/github/bignamu/python-AI/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Numpy의 소개



NumPy(Numerical Python)는 파이썬에서 과학적 계산을 위한 핵심 라이브러리이다. NumPy는 다차원 배열 객체와 배열과 함께 작동하는 도구들을 제공한다. 하지만 NumPy 자체로는 고수준의 데이터 분석 기능을 제공하지 않기 때문에 NumPy 배열과 배열 기반 컴퓨팅의 이해를 통해 pandas와 같은 도구를 좀 더 효율적으로 사용하는 것이 필요하다.

## ndarray 생성

In [ ]:
import numpy as np

arr = np.array([1,2,3,4])
print(arr)

[1 2 3 4]

In [ ]:
np.zeros((3,3))

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [ ]:
np.ones((2,2))

array([[1., 1.],
       [1., 1.]])

In [ ]:
np.empty((4,4))

array([[0.00000000e+000, 1.03977794e-312, 1.01855798e-312,
        9.54898106e-313],
       [1.03977794e-312, 1.01855798e-312, 1.23075756e-312,
        1.03977794e-312],
       [1.12465777e-312, 9.76118064e-313, 1.20953760e-312,
        1.16709769e-312],
       [1.06099790e-312, 4.44659081e-322, 0.00000000e+000,
        0.00000000e+000]])

In [ ]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
np.arange(-5,5,1)

array([-5, -4, -3, -2, -1,  0,  1,  2,  3,  4])

## ndarray 배열의 모양 , 차수, 데이터 타입을 확인하는 방법

In [ ]:
arr = np.array([[1,2,3],[4,5,6]])

In [ ]:
print(arr)

[[1 2 3]
 [4 5 6]]

In [ ]:
arr.shape

(2, 3)

In [ ]:
arr.ndim

2

In [ ]:
arr.dtype

dtype('int64')

## ndarray 배열의 타입 변환
astype 함수를 사용해서 정수형 데이터 배열을 실수형 데이터 배열로 변환하기

In [ ]:
arr_int = np.array([1,2,3,4])

In [ ]:
arr_int.dtype

dtype('int64')

In [ ]:
arr_float = arr_int.astype(np.float64)

In [ ]:
arr_float.dtype

dtype('float64')

In [ ]:
print(arr_float)

[1. 2. 3. 4.]

### 문자형 데이터 배열을 정수형 데이터 배열로 변환하기

In [ ]:
arr_str = np.array(['1','2','3'])

In [ ]:
arr_str.dtype

dtype('<U1')

In [ ]:
arr_int = arr_str.astype(np.int64)

In [ ]:
arr_int.dtype

dtype('int64')

![Built-in Python types, ndarray data types](images/numpy-1.png
)

![Data Types](images/numpy-2.png)